## Rank Variance Per Country
Which countries have risen in the rankings based on the number of comments between Dec 2019 vs Jan 2020? Hint: Avoid gaps between ranks when ranking countries.

DataFrames: fb_comments_count, fb_active_usersExpected Output Type: pandas.DataFrame

In [1]:
import pandas as pd

# Your data organized correctly: user_id, created_at, number_of_comments
data = [
    [18, '2019-12-29', 1],
    [25, '2019-12-21', 1],
    [78, '2020-01-04', 1],
    [37, '2020-02-01', 1],
    [41, '2019-12-23', 1],
    [99, '2020-02-02', 1],
    [21, '2019-12-28', 1],
    [18, '2020-01-31', 1],
    [37, '2020-02-11', 1],
    [58, '2020-01-26', 1],
    [32, '2020-01-10', 1],
    [24, '2020-02-03', 1],
    [58, '2020-01-04', 1],
    [8, '2020-02-10', 1],
    [18, '2019-12-17', 1],
    [18, '2019-12-30', 1],
    [50, '2020-01-31', 1],
    [82, '2019-12-22', 1],
    [52, '2019-12-31', 1],
    [78, '2020-02-10', 1],
    [21, '2020-01-08', 1],
    [4, '2019-12-22', 1],
    [18, '2020-01-02', 1],
    [89, '2019-12-25', 1],
    [46, '2020-01-23', 1],
    [32, '2020-01-17', 1],
    [41, '2020-01-03', 1],
    [8, '2020-02-05', 1],
    [24, '2019-12-29', 2],
    [56, '2019-12-25', 1],
    [18, '2020-02-03', 1],
    [56, '2019-12-21', 1],
    [34, '2020-01-08', 1],
    [27, '2020-01-10', 1],
    [33, '2020-01-22', 1],
    [78, '2020-01-07', 1],
    [58, '2020-02-02', 1],
    [82, '2019-12-30', 1],
    [89, '2020-01-28', 1],
    [46, '2019-12-23', 1],
    [8, '2020-01-13', 1],
    [9, '2020-02-02', 1],
    [89, '2020-01-07', 1],
    [87, '2020-01-08', 1],
    [37, '2019-12-15', 1],
    [95, '2020-02-10', 1],
    [41, '2019-12-27', 1],
    [82, '2020-01-16', 1],
    [32, '2020-01-13', 1],
    [99, '2020-01-05', 1],
    [27, '2020-01-25', 1],
    [52, '2020-01-01', 1],
    [32, '2020-01-06', 1],
    [56, '2019-12-19', 1],
    [78, '2019-12-30', 1],
    [33, '2020-01-28', 1],
    [33, '2019-12-21', 1],
    [32, '2020-01-04', 2],
    [32, '2019-12-21', 1],
    [89, '2020-01-16', 1],
    [89, '2019-12-21', 1],
    [52, '2019-12-20', 1],
    [78, '2020-02-15', 1],
    [32, '2019-12-23', 1],
    [4, '2020-02-15', 1],
    [99, '2020-02-03', 1],
    [87, '2020-02-15', 1],
    [34, '2020-01-15', 1],
    [34, '2020-01-29', 1],
    [32, '2019-12-18', 1],
    [25, '2020-02-14', 1],
    [89, '2020-01-05', 1],
    [58, '2020-01-05', 1],
    [46, '2020-01-29', 1],
    [9, '2020-01-21', 1],
    [9, '2020-01-06', 1],
    [78, '2019-12-25', 1],
    [46, '2019-12-29', 1],
    [95, '2020-01-10', 1],
    [95, '2020-01-17', 1],
    [25, '2020-01-15', 1],
    [87, '2019-12-25', 1],
    [89, '2020-02-12', 1],
    [25, '2020-01-20', 1],
    [34, '2019-12-27', 1],
    [27, '2019-12-21', 1],
    [8, '2020-01-22', 1],
    [37, '2020-01-19', 2],
    [50, '2020-01-21', 1],
    [18, '2019-12-27', 1],
    [82, '2020-01-23', 1],
    [21, '2019-12-24', 1],
    [37, '2019-12-17', 1],
    [33, '2019-12-31', 1],
    [50, '2020-01-28', 1],
    [32, '2019-12-19', 1],
    [4, '2020-01-01', 1],
    [22, '2020-02-15', 1],
    [31, '2020-01-28', 1],
    [22, '2020-04-04', 1],
    [31, '2020-01-03', 1],
    [22, '2019-12-19', 1],
    [31, '2020-02-15', 1],
    [22, '2019-12-01', 1],
    [31, '2020-04-04', 1],
    [16, '2019-12-27', 1],
    [5, '2020-01-23', 1],
    [7, '2019-12-24', 1],
    [11, '2019-12-17', 1],
    [61, '2019-12-31', 1],
    [16, '2020-01-28', 1],
    [5, '2019-12-19', 1],
    [7, '2020-01-01', 1],
    [11, '2020-02-15', 1],
    [61, '2020-01-28', 1],
    [11, '2020-04-04', 1],
    [16, '2020-01-03', 1],
    [5, '2019-12-19', 1],
    [7, '2020-02-15', 1],
    [11, '2019-12-01', 1],
    [61, '2020-04-04', 1]
]

# Create DataFrame
fb_comments_count = pd.DataFrame(data, columns=['user_id', 'created_at', 'number_of_comments'])

# Convert created_at to datetime
fb_comments_count['created_at'] = pd.to_datetime(fb_comments_count['created_at'])

fb_comments_count

     user_id created_at  number_of_comments
0         18 2019-12-29                   1
1         25 2019-12-21                   1
2         78 2020-01-04                   1
3         37 2020-02-01                   1
4         41 2019-12-23                   1
..       ...        ...                 ...
116       16 2020-01-03                   1
117        5 2019-12-19                   1
118        7 2020-02-15                   1
119       11 2019-12-01                   1
120       61 2020-04-04                   1

[121 rows x 3 columns]

In [2]:
import pandas as pd

# Your data organized: user_id, name, status, country
data = [
    [33, 'Amanda Leon', 'open', 'Australia'],
    [27, 'Jessica Farrell', 'open', 'Luxembourg'],
    [18, 'Wanda Ramirez', 'open', 'USA'],
    [50, 'Samuel Miller', 'closed', 'Brazil'],
    [16, 'Jacob York', 'open', 'Australia'],
    [25, 'Natasha Bradford', 'closed', 'USA'],
    [34, 'Donald Ross', 'closed', 'China'],
    [52, 'Michelle Jimenez', 'open', 'USA'],
    [11, 'Theresa John', 'open', 'China'],
    [37, 'Michael Turner', 'closed', 'Australia'],
    [32, 'Catherine Hurst', 'closed', 'Mali'],
    [61, 'Tina Turner', 'open', 'Luxembourg'],
    [4, 'Ashley Sparks', 'open', 'China'],
    [82, 'Jacob York', 'closed', 'USA'],
    [87, 'David Taylor', 'closed', 'USA'],
    [78, 'Zachary Anderson', 'open', 'China'],
    [5, 'Tiger Leon', 'closed', 'China'],
    [56, 'Theresa Weaver', 'closed', 'Brazil'],
    [21, 'Tonya Johnson', 'closed', 'Mali'],
    [89, 'Kyle Curry', 'closed', 'Mali'],
    [7, 'Donald Jim', 'open', 'USA'],
    [22, 'Michael Bone', 'open', 'Canada'],
    [31, 'Sara Michaels', 'open', 'Denmark']
]

# Create DataFrame
fb_active_users = pd.DataFrame(data, columns=['user_id', 'name', 'status', 'country'])

In [14]:
# Import your libraries
import pandas as pd

# Start writing code
#fb_comments_count
#fb_active_users

#fb_comments_count.shape[0]

fb_comments_count_filtered_in_2019 = fb_comments_count[(fb_comments_count['created_at'] >= '2019-12-01') &
(fb_comments_count['created_at']<='2020-01-01')]
#fb_comments_count_filtered_in_2019.shape[0]


result_2019 = fb_comments_count_filtered_in_2019.groupby('user_id')['number_of_comments'].sum().reset_index()
result_2019.columns = ['user_id','total_comments_in_2019']
#result

final_df_2019 = fb_active_users.merge(result_2019, on = 'user_id')
#final_df

total_country_count_in_2019 = final_df_2019.groupby('country')['total_comments_in_2019'].sum().reset_index()
#total_country_count_in_2019.columns = ['country','total_count_of_comments']


total_country_count_in_2019=total_country_count_in_2019.sort_values('total_comments_in_2019',ascending=False)
total_country_count_in_2019['rank_in_2019'] = total_country_count_in_2019['total_comments_in_2019'].rank(ascending=False,method='dense')
total_country_count_in_2019

fb_comments_count_filtered_in_2020 = fb_comments_count[(fb_comments_count['created_at'] >= '2019-12-01') &
(fb_comments_count['created_at']<='2020-01-31')]

result_2020 = fb_comments_count_filtered_in_2020.groupby('user_id')['number_of_comments'].sum().reset_index()
result_2020.columns = ['user_id','total_comments_in_2020']
#result

final_df_2020 = fb_active_users.merge(result_2020, on = 'user_id')
#final_df

total_country_count_in_2020 = final_df_2020.groupby('country')['total_comments_in_2020'].sum().reset_index()
#total_country_count_in_2019.columns = ['country','total_count_of_comments']

total_country_count_in_2020=total_country_count_in_2020.sort_values('total_comments_in_2020',ascending=False)
total_country_count_in_2020['rank_in_2020'] = total_country_count_in_2020['total_comments_in_2020'].rank(ascending=False,method='dense')
total_country_count_in_2019
#total_country_count_in_2020

total_comparing_countries = total_country_count_in_2019.merge(total_country_count_in_2020, on='country')
total_comparing_countries['difference'] = total_comparing_countries['rank_in_2020']-total_comparing_countries['rank_in_2019']
total_comparing_countries=total_comparing_countries.sort_values('difference',ascending=True)

#total_comparing_countries.drop(['total_comments_in_2019','rank_in_2019','total_comments_in_2020','rank_in_2020'],axis=1,inplace=True)
output_df = total_comparing_countries.head(1)
output_df.drop(['total_comments_in_2019','rank_in_2019','total_comments_in_2020','rank_in_2020','difference'],axis=1,inplace=True)
output_df

C:\Users\rahit\AppData\Local\Temp\ipykernel_31608\2354014273.py:54: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  output_df.drop(['total_comments_in_2019','rank_in_2019','total_comments_in_2020','rank_in_2020','difference'],axis=1,inplace=True)

  country
2    Mali